*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    
  }
 .photosPage{
     width: 80vw;
     margin-left: 10vw;
    font-size: 15px;
    overflow: hidden;
  }
  .photosPage h1{
    color: black;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .photosPage .searchBar{
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;  
    background-color: white;
    padding-left: 15px;
    border-radius: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #ddd;
  }
  #searchPhotoPage{
    width: 100%;
    height: 45px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #ddd;
    
  }
  .mdc-button__icon{
    color: #808080;
    cursor: pointer;
    user-select: none;
  }
  *:focus{
    outline: none;
    background-color: inherit;
  }
#searchPhotoPage:-webkit-autofill,
  #searchPhotoPage:-webkit-autofill:hover, 
  #searchPhotoPage:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ddd inset;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 6000s ease-in-out 0s;
}
.topBarContainer{
  position: relative;
}
.photosPage .topSearchTags{
    display: flex;
    margin-bottom: 50px;
    list-style: none;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}
.photosPage .topSearchTags li{
    display: flex;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 13px 20px;
    margin-right: 10px;
    text-transform: capitalize;
    border-radius: 5px;
}
.transisionGradient{
  position: absolute;
  width: 90px;
  top: -6px;
  right: 0;
  height: 60px;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9640231092436975) 69%, rgba(255,255,255,1) 100%);
}
.photoGrid
{
    line-height:0;
    column-count:3;
    column-gap:24px;
    margin-bottom: 50px;
}
.photo{
  object-fit: contain;
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.photoTag{
  list-style: none;
  display: inline-block;
}
.photoGrid .photoTag li{
  text-transform: capitalize;
  background-color: rgb(233, 233, 233);
  padding: 13px 10px;
  margin-right: 10px;
  display: inline-block;
  color: #808080;
  margin-top: 10px;
  border-radius: 3px;
}
.photoGrid div img {
    width: 100%;
    height: auto;
}
.photoModalContainer{

  position: fixed;
  top: 0;
  left: 0;
}
.blackOverlay
{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}
.photoModal
{
  position: fixed;
  top: 0;
  left: 0;
  height: 90vh;
  width: 75vw;
  top: 5vh;
  left: calc(12.5vw - 15px);
  background-color: white;
  padding: 10px 15px;
  overflow: hidden;
}
.photoModalTopBar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.photoModalTopBar img{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 1px solid #eee;
}
.leftText{
  display: flex;
}
.photoModalTopBar .leftText .name{
  margin-left: 5px;
}
.fullname,.localisation{
  font-weight: 700;
}
.photoModalTopBar .username{
  font-size: 0.8rem;
}
.photoModalTopBar div div{
  flex-grow: 1;
}
.photoModal .mainPhoto{
  width: auto;
  height: calc(90vh - 100px);
  margin: 0 0 0 50%;
  transform: translateX(-50%);
  vertical-align:text-bottom;
}
.like,.add,.share,.info{
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.add,.info
{
  margin-left: 5px;
}
.fa-heart,.fa-plus{
  color: grey;
  position: relative;
  top: 1px;
  width: 12px;
}
.fa-share,.fa-info-circle,.fa-map-marker-alt 
{
  color: grey;
  width: 12px;
  margin-right: 5px;
}
.fa-map-marker-alt 
{
  color: #bbb;
}

.fa-times{
  z-index: 5;
  margin: 0 20px;
  color: grey;
}
.prevPicture,.nextPicture{
  position: absolute;
  top: 50%;
  color: white;
  font-size: 35px;
  background-color: transparent;
  border: none;
}
.nextPicture{
  right: 5vw;
} 
.prevPicture{
  left: 5vw;
}
.photoModalBottomBar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.localisation
{
  margin-top: 10px;
}
.photosPage .suggestions{
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 5;
} 
.disabled{
  opacity: 0.4;
}